# Compiled Object files
*.slo
*.lo

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.aux

*.aux

*.log

*.out

*.gz

*.toc

Report/Report.synctex.gz

*.gz

*.out

*.log

*.log

Report/Report.log

Report/Report.out

*.out

Report/Report.aux

*.aux
